{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block position-fixed">
      <a href="{{ url_for('user_posts',username=current_user.username) }}" style="text-decoration:none;">
      <header class="mb-2">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.dp) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <span class="mt-2 pt-1" style="font-size:20px;">{{greeting}} {{current_user.username.title()}}</span>
        </div>
      </header>
    </a>
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div style="background:#191917;padding:7px;cursor:pointer;border-radius:5px;overflow:auto;height:318px;">
        <h5 style="padding-left: 3px;">My Matches</h5>
        {% for user in users if user.is_following(current_user) and current_user.is_following(user) %}
        <a href="{{url_for('message', recipient=user.username)}}" style="text-decoration:none;">
        <header>
        <img src="{{ url_for('static', filename='profile_pics/' + user.dp) }}" alt="default profile" class="profile-thumbnail">
        <div class="profile-name">
          <h3>{{user.username}}</h3>
          <small>⏰ last seen {{ moment(user.last_seen).fromNow() }}</small>
        </div>
      </header>
    </a>
      {% endfor %}
      </div>
        <div class="menu mt-2" style="background:#191917;border-radius:10px">
        <a class="dropdown-item" href="{{ url_for('logout') }}"> 🛫 Logout</a>
        </div>
      </div>



    <div class="col-lg-9 offset-lg-3">
     
     <h2>Jump back in.</h2>
     <div class="card-columns">
   {% for user in users if not current_user.is_following(user) and current_user.gender != user.gender %}
      <div class="card" style="border:1px solid #191917;border-radius:5px;">
        <a href="{{ url_for('user_posts',username=user.username) }}" style="text-decoration:none;">
        <div style="display:flex;overflow-x: auto">
          <img class="card-img-top img-fluid" src="{{ url_for('static', filename='profile_pics/' + user.dp) }}" alt="Card image cap" style="min-width:100%;border-right:1px solid #000;">
          <img class="card-img-top img-fluid" src="{{ url_for('static', filename='profile_pics/' + user.dp2) }}" alt="Card image cap" style="min-width:100%;border-right:1px solid #000;">
          <img class="card-img-top img-fluid" src="{{ url_for('static', filename='profile_pics/' + user.dp3) }}" alt="Card image cap" style="min-width:100%">
        </div></a>
        {% if user != current_user %}
          <a href="{{ url_for('follow', username=user.username) }}" style="color:#fff;"><i class="fas fa-heart love" style="font-size:26px;position:absolute;top:8px;right:8px;text-shadow: 0 0 2px #191917;"></i></a>
        {% else %}
               
        {% endif %}




        <div class="card-block p-2" style="background:#191917;">
          <span style="text-transform:uppercase;font-weight:700;font-size:12px;letter-spacing:1.5px;">{{ user.gender }} • born {{user.age.strftime('%a, %b %d %Y.')}}</span> <br>

          <a href="{{url_for('user_posts', username=user.username)}}" style="color:#fff;">
            <span class="card-title" style="font-size:30px;color:#FE3C72;">{{user.username.title()}}</span> <br>
          </a>
          {% if user.bio %}<code style="color:#fff;"> {{user.bio}} </code> <br> {% endif %}

          {% if user.country %} <small>🌍 From {{user.country}}</small> {% endif %}
          <small class="pl-3">😎 studies {{user.department}}</small>
          

          <div style="display:flex;" class="mt-2">
            <p><a class="btn btn-sm btn-primary mt-2 ml-1 px-4" href="{{ url_for('follow', username=user.username) }}">follow</a></p>
          </div><!--seller div-->

        </div>
      </div><!--card-->
  {% endfor %}
  <div class="card" style="border:1px solid #191917;border-radius:5px;">
        <div style="display:flex;overflow-x: auto">
        <img class="card-img-top img-fluid" src="{{ url_for('static', filename='resources/' + 'intro.PNG') }}" alt="Card image cap" style="max-width:100%;max-height:230px;border-right:1px solid #000;">
        </div>
        
        <div class="card-block p-2" style="background:#191917;">
          <h2 class="card_title">Bambi <img src="https://image.flaticon.com/icons/svg/1271/1271380.svg" style="width:20px;height:20px;margin-top: -5px;" title="Verified"></h2>
          <code style="color:#fff;"> Looks like you are out of people to match with </code> <br>

          <small><a href="{{url_for('discover')}}">🔆 See who likes you</a></small>
          <small class="pl-4"><a href="{{url_for('messages')}}">✉ Chat</a></small>

        </div>
    </div><!--card-->
  </div><!--card-columns-->

  <div style="margin-bottom: 60px;"></div>
</div>



    <!--<div class="col-lg-3 d-none d-lg-block position-fixed offset-sm-9">
      
</div>-->

</div>



{% endblock content %}
