{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block position-fixed">
      <div style="background:#191917;padding:7px;cursor:pointer;border-radius:5px;overflow:auto;height:400px;">
        <h5 style="padding-left: 3px;">Matches</h5>
        {% for user in users if user.is_following(current_user) and current_user.is_following(user) %}
        <header>
        <a href="{{url_for('message', recipient=user.username)}}"><img src="{{ url_for('static', filename='profile_pics/' + user.dp) }}" alt="default profile" class="profile-thumbnail"></a>
        <div class="profile-name">
          <h3>{{user.username}}</h3>
        </div>
        <div class="follow-btn">
            
          </div>
      </header>
      {% endfor %}
      </div>
      </div>



    <div class="col-lg-6 offset-lg-3">
     
  <div style="margin-bottom: 60px;"></div>
</div>



    <div class="col-lg-3 d-none d-lg-block position-fixed offset-sm-9">
      <!-- notifications and relevant ads -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
</div>

</div>



{% endblock content %}
